<link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap" rel="stylesheet">
body{
      font-family: "Dancing Script", cursive;
      font-optical-sizing: auto;
      font-weight: <weight>;
      font-style: normal;
      backgroud-color: black;
      text-aling: center;
      text-shandow:2px white;
    }
div{
      background-image: url (cavaloandaluz.png);
      background-size:55px;
      background-color:blue;
      width:300px;
      margin:auto;
      text-shadow:5px black;
      color:white
   }
